:root {
    --textColor: #c6c6c6;
    --greenColor: #1f8053;
    --blackColor: #000000;
    --whiteColor: #ffffff;
    --borderColor: #1c1c1c;
    --rgbBlack: 0, 0, 0;
    --rgbGreen: 31, 128, 83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blackColor);
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--whiteColor);
}

section {
    overflow-x: clip;
}

a {
    color: var(--whiteColor);
    text-decoration: none;
}

header {
    padding: 50px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    animation: slide-down 1s;
}

.container {
    max-width: 1530px;
    margin: auto;
    padding: 0 10px;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation img {
    filter: drop-shadow(0px 0px 15px var(--blackColor));
}

.main-navigation nav {
    display: flex;
    gap: 40px;
    border: 1px solid var(--borderColor);
    padding: 15px 40px;
    border-radius: 30px;
    background-color: rgba(var(--rgbBlack), 0.5);
    box-shadow: 0 4px 30px rgba(var(--rgbBlack), 0.5);
    backdrop-filter: blur(10px);
}

.main-navigation nav a {
    transition: 0.3s;
}

.main-navigation nav a:hover {
    color: var(--greenColor);
}

.secondary-cta-button {
    position: relative;
    padding: 15px 20px;
    border: 1px solid var(--borderColor);
    border-radius: 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.secondary-cta-button:hover {
    border-color: var(--greenColor);
}

.secondary-cta-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s;
    background: var(--blackColor);
}

.secondary-cta-button:hover::after {
    background: linear-gradient(90deg,rgba(var(--rgbBlack), 0) 0%, rgba(31, 128, 83, 0.3) 50%, rgba(28, 28, 28, 0) 100%);
}

.cta-button {
    display: inline-block;
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(28, 28, 28, 0) 75%);
    padding: 2px;
    border-radius: 30px;
}

.cta-button .black-btn-bg {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--blackColor);
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(31, 128, 83, 0.7);
}

.cta-button:hover {
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 1) 100%);
}

.cta-button:hover .black-btn-bg {
    animation: pulse-shadow 3s infinite;
}

.button-arrow-wrapper {
    overflow: hidden;
    width: 17px;
    height: 17px;
}

.button-arrow-wrapper img {
    transform: translate(0%, 0%) rotate(-45deg);
}

a:hover .button-arrow-wrapper img {
    animation: arrow-moving 0.4s linear;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    padding-top: 200px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(var(--rgbBlack), 1) 0%, rgba(var(--rgbBlack), 0) 100%);
    z-index: 2;
}

.hero video {
    transform: rotate(180deg);
    width: 100%;
}

.hero .video-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 70%;
}

.hero .video-wrapper .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(var(--rgbBlack), 1) 0%, rgba(var(--rgbBlack), 0) 100%);
}

.hero .hero-lines {
    position: absolute;
    z-index: 1;
    height: 70%;
    opacity: 0.1;
}

.hero .hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
}

.hero .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero .hero-content h2 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
}

.hero .hero-content h1 {
    font-size: 9.375rem;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
    animation: fade-in 1s;
}

.hero .hero-content p {
    font-size: 1.3rem;
    max-width: 800px;
    font-weight: 300;
}

/* Portfolio Section */
.portfolio {
    padding: 50px 0;
}

.portfolio .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h2.section-heading {
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1.1;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
}

.portfolio .portfolio-header h2.section-heading {
    max-width: 400px;
}

.portfolio .portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
}

.portfolio-items .portfolio-item a {
    position: relative;

}

.portfolio-items .portfolio-item a video {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
}

.portfolio-items .portfolio-item a .portfolio-tags {
    display: flex;
    gap: 10px;
}

.portfolio-items .portfolio-item a .portfolio-tags div {
    font-size: 1.1rem;
    background-color: var(--borderColor);
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 300;
}

.portfolio-items .portfolio-item a .portfolio-content-wrapper {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.portfolio-items .portfolio-item a .portfolio-content-wrapper h3 {
    font-size: 1.875rem;
    font-weight: 400;
}

.portfolio-items .portfolio-item a .portfolio-content-wrapper p {
    font-weight: 300;
}

.portfolio-items .portfolio-item a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.portfolio-items .portfolio-item a:hover::after {
    opacity: 1;
    background: radial-gradient(circle,rgba(var(--rgbGreen), 0.15) 0%, rgba(var(--rgbBlack), 0) 100%);
}

.portfolio-items .portfolio-item::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: linear-gradient(90deg,rgba(var(--rgbBlack), 0) 0%, rgba(28, 28, 28, 1) 50%, rgba(var(--rgbBlack), 0) 100%);
}

/* Call To Action Section */
.call-to-action { {
    padding: 100px 0;
}}

.call-to-action p {
    font-weight: 300;
    font-size: 3.125rem;
    margin-bottom: 30px;
}

.call-to-action p span {
    animation: word-fade 2s both linear;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
    animation-delay: calc(var(--i) * 100ms);
}

/* Services Section */
.services {
    padding: 80px 0;
}

.services .services-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    background-color: var(--borderColor);
    border: 1px solid var(--borderColor);
    gap: 1px;
}

.service-item {
    position: relative;
    min-height: 320px;
    overflow: hidden;
    background-color: var(--blackColor);
}

.service-item.span-2 {
    grid-column: span 2;
}

.service-item a::before {
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--whiteColor);
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    transition: 0.3s;
}

.service-item a:hover::before {
    background-color: var(--whiteColor);
}


.service-item video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.3s;
}

.service-item:hover video {
    opacity: 1;
}

.service-item .service-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(0deg, rgba(var(--rgbBlack), 1) 0%, rgba(var(--rgbBlack), 0) 100%);
    transform: translateY(35%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
}

.service-item:hover a .service-item-content {
    transform: translateY(0);
}

.service-item .service-item-content-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.service-item .service-item-content-header img {
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}

.service-item h3 {
    font-weight: 500;
    font-size: 2rem;
}

.service-item p {
    font-weight: 300;
    max-width: 450px;
}

/* Blog Section */
.blog {
    padding: 80px 0;
}

.blog-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.blog-items-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.blog-items-wrapper .blog-item:hover a {
    display: block;
    animation: blur-effect 0.8s both;
}

.blog-items-wrapper .blog-item img {
    width: 100%;
    border-radius: 15px;
}

.blog-items-wrapper .blog-item .blog-item-content  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.blog-items-wrapper .blog-item .blog-item-content h3 {
    font-size: 1.875rem;
    font-weight: 400;
}

.blog-items-wrapper .blog-item .blog-item-content p {
    font-weight: 300;
}

.blog-items-wrapper .blog-item .blog-item-content .author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
}

.blog-items-wrapper .blog-item .blog-item-content .author-wrapper .author-name-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-items-wrapper .blog-item .blog-item-content .author-wrapper .author-name-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.blog-items-wrapper .blog-item .blog-item-content .author-wrapper  .published-date-read-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot-separator {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--whiteColor);
}

/* Big Call To Action Section */
.big-call-to-action {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.big-call-to-action video {
    width: 100%;
    position: absolute;
    top: 0;
}

.cta-content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*background: var(--whiteColor);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-content-wrapper .cta-content {
    backdrop-filter: blur(10px);
    border: 2px solid var(--borderColor);
    padding: 30px 100px;
    border-radius: 80px;
    background-color: rgba(var(--rgbBlack), 0.5);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
    transition: 0.3s;
}

.cta-content-wrapper .cta-content:hover {
    box-shadow: 0px 0px 32px 0px rgba(var(--rgbGreen), 0.75) inset;
}

.glow-effect {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
    background: radial-gradient(circle, rgba(31, 128, 83,1) 6%, rgba(31, 128, 83, 0.2) 50%, rgba(31, 128, 83, 0) 100%);
    border-radius: 50%;
    opacity: 0.2;
}

.left-top-position {
    top: 10%;
    left: 0;
}

.right-bottom-position {
    right: 0;
    bottom: 5%;
}

.background-additions {
    position: absolute;
    z-index: 1;
}

.left-bottom-position {
    left: 0;
    bottom: 5%;
}

.right-top-position {
    right: 0;
    top: 10%;
}

/* Footer */
footer {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    color: var(--whiteColor);
}

footer video {
    position: absolute;
    z-index: 0;
    /*inset: 0;*/
    width: 3200px;
    left: -10%;
    top: -30%;
}

footer::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgbBlack), 0.5);
    backdrop-filter: blur(10px);
}

footer .footer-main {
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    position: relative;
    z-index: 2;
}

footer .footer-copyright {
    position: relative;
    z-index: 3;
}

footer .footer-copyright .footer-copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

footer .footer-menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    border-left: 1px solid var(--borderColor);
}

footer .footer-menu-grid .footer-menu-heading {
    font-size: 1.5rem;
    padding: 40px;
    font-weight: 600;
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

footer .footer-menu-grid .footer-menu-content {
    padding: 40px;
    border-right: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .footer-menu-grid .footer-menu-content a {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    transition: 0.3s;
}

footer .footer-menu-grid .footer-menu-content a span {
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
}

footer .footer-menu-grid .footer-menu-content a:hover {
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
}