:root {
    --textColor: #c6c6c6;
    --greenColor: #1f8053;
    --blackColor: #000000;
    --whiteColor: #ffffff;
    --borderColor: #1c1c1c;
    --rgbBlack: 0, 0, 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blackColor);
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--whiteColor);
}

a {
    color: var(--whiteColor);
    text-decoration: none;
}

header {
    padding: 50px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    animation: slide-down 1s;
}

.container {
    max-width: 1530px;
    margin: auto;
    padding: 0 10px;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation nav {
    display: flex;
    gap: 40px;
    border: 1px solid var(--borderColor);
    padding: 15px 40px;
    border-radius: 30px;
}

.main-navigation nav a {
    transition: 0.3s;
}

.main-navigation nav a:hover {
    color: var(--greenColor);
}

.secondary-cta-button {
    position: relative;
    padding: 15px 20px;
    border: 1px solid var(--borderColor);
    border-radius: 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.secondary-cta-button:hover {
    border-color: var(--greenColor);
}

.secondary-cta-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s;
}

.secondary-cta-button:hover::after {
    background: linear-gradient(90deg,rgba(var(--rgbBlack), 0) 0%, rgba(31, 128, 83, 0.3) 50%, rgba(28, 28, 28, 0) 100%);
}

.cta-button {
    display: inline-block;
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(28, 28, 28, 0) 75%);
    padding: 2px;
    border-radius: 30px;
}

.cta-button .black-btn-bg {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--blackColor);
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(31, 128, 83, 0.7);
}

.cta-button:hover {
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 1) 100%);
}

.cta-button:hover .black-btn-bg {
    animation: pulse-shadow 3s infinite;
}

.button-arrow-wrapper {
    overflow: hidden;
    width: 17px;
    height: 17px;
}

.button-arrow-wrapper img {
    transform: translate(0%, 0%) rotate(-45deg);
}

a:hover .button-arrow-wrapper img {
    animation: arrow-moving 0.4s linear;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    padding-top: 200px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(var(--rgbBlack), 1) 0%, rgba(var(--rgbBlack), 0) 100%);
    z-index: 2;
}

.hero video {
    transform: rotate(180deg);
    width: 100%;
}

.hero .video-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 70%;
}

.hero .video-wrapper .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(var(--rgbBlack), 1) 0%, rgba(var(--rgbBlack), 0) 100%);
}

.hero .hero-lines {
    position: absolute;
    z-index: 1;
    height: 70%;
    opacity: 0.1;
}

.hero .hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
}

.hero .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero .hero-content h2 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
}

.hero .hero-content h1 {
    font-size: 9.375rem;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    background-clip: text;
    color: transparent;
    animation: fade-in 1s;
}

.hero .hero-content p {
    font-size: 1.3rem;
    max-width: 800px;
    font-weight: 300;
}